@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
* {
    font-family: "montserrat", sans-serif;
}
#logo {
    width: 80px;
}

body {
    position: relative;
    font-family: "Montserrat", sans-serif;
}
.sticky {
    position: sticky;
    top: calc(250px - 117px);
    z-index: 999;
}
.cursor-pointer {
    cursor: pointer;
}
/*NAVBAR*/
.navbar-toggler-icon {
    color: white !important;
}
.sticky-nav {
    position: sticky !important;
    top: 0;
    z-index: 1000;
    transition: background-color 0.2s ease-in-out;
}

.nav-green {
    background-color: #8cc32f !important;
}
.nav-violet {
    background-color: #6159aa !important;
}
.bg-md-none {
    background-color: transparent !important;
}
#basic-nav-dropdown div {
    background-color: #6159aa !important;
}

/* @media (min-width: 768px) {
    .nav-violet {
        background-color: transparent !important;
    }
} */
/**Font-sizes
**/
.fs-7 {
    font-size: 0.9rem !important;
}

/* text-colors */
.text-green {
    color: #8cc32f !important;
}
.text-violet {
    color: #6159aa !important;
}
.text-italic {
    font-style: italic;
}
.text-playfair {
    font-family: "Playfair Display", serif;
}
.text-montserrat {
    font-family: "Montserrat", sans-serif;
}
.text-lightViolet {
    color: #ceb7ed !important;
}
.text-hover-violet {
    position: relative;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.text-hover-violet::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: currentColor;
    transition: width 0.2s ease-in-out;
}

.text-hover-violet:hover {
    color: #6159aa !important;
}

.text-hover-violet:hover::after {
    width: 100%;
}
.text-hover-lightViolet-underline {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.2s ease-in-out; /* Mantieni l'animazione sul colore */
}

.text-hover-lightViolet-underline::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: currentColor;
    transition: width 0.2s ease-in-out;
}

.text-hover-lightViolet-underline:hover {
    color: #ceb7ed !important;
}

.text-hover-lightViolet-underline:hover::after {
    width: 100%;
}

.border-violet {
    border-color: #6159aa !important;
}
.border-violet-message {
    border: 4px solid #6159aa !important;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 100px;
}
.border-lightViolet-message {
    border: 4px solid #ceb7ed3a !important;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 100px;
}
.border-lightViolet {
    border-radius: 40px !important ;
    border: 4px solid #ceb7ed3a !important;
}
.bg-violet {
    background-color: #6159aa !important;
}
.bg-green {
    background-color: #8cc32f !important;
}

.bg-lightViolet {
    background-color: #ceb7ed !important;
}
.bg-lightBlue {
    background-color: #e2e2f6 !important;
}

.border-message {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 100px;
}
.border-message-reverse {
    border-bottom-left-radius: 100px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.border-dotted {
    border: 2px dotted #6159aa !important;
    border-radius: 40px !important;
}

.border-y-dashed {
    border-top: 4px dashed #e2e2f6 !important;
    border-bottom: 4px dashed #e2e2f6 !important;
}
.border-bottom-dashed {
    border-bottom: 4px dashed #e2e2f6 !important;
}

/* icons */
.search-icon {
    position: absolute;
    width: 2.3rem;
    right: 25px;
    top: 18px;
    cursor: pointer;
}
#greenSvg {
    top: 0;
    bottom: 0;
    z-index: -1;
    position: absolute;
    width: 100%;
}
#bgFill {
    background-color: #8cc32f;
    width: 100%;
}
#violetSvg {
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
#bgVioletFill {
    background-color: #6159aa;
    width: 100%;
}
#topVioletSvg {
    top: 0;
    bottom: 0;
    z-index: -1;
    position: absolute;
    width: 100%;
}
#topBgVioletFill {
    background-color: #6159aa;
    width: 100%;
}
.violet-navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.icon-cards {
    max-width: 300px;
    max-height: 300px;
}
.action-icons {
    cursor: pointer;
    right: 100px;
    top: 25px;
}

.suggestions-list {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item.active {
    background-color: #f0f0f0;
}

/* Input form */
.cozy-input-form {
    border-radius: 50px 50px 0 50px !important;
    padding: 10px 18px !important;
    background-color: #6159aa21 !important;
    margin-bottom: 1rem;
}

.cozy-input-form::placeholder {
    color: #6159aa !important;
    font-style: italic !important;
    font-weight: 600 !important;
}
.cozy-input-form:focus {
    border-color: #6159aa !important;
    box-shadow: 0 0 0 0.2rem rgba(97, 89, 170, 0.25) !important;
}
.cozy-input-form-reverse {
    border-radius: 0px 50px 50px 100px !important;
    padding: 10px 18px !important;
    background-color: #6159aa21 !important;
    margin-bottom: 1rem;
}
.cozy-input-form-reverse::placeholder {
    color: #6159aa !important;
    font-style: italic !important;
    font-weight: 600 !important;
}
.cozy-input-form-reverse:focus {
    border-color: #6159aa !important;
    box-shadow: 0 0 0 0.2rem rgba(97, 89, 170, 0.25) !important;
}
.cozy-number-input {
    border-radius: 40px !important;
    background-color: #6159aa21 !important;
    max-width: 70px;
}
.btn-form {
    border: none !important;
    border-radius: 50px !important;
    padding: 0.5rem 1.7rem !important;
    font-family: "Montserrat", sans-serif !important;
    color: white !important;
    font-weight: 600 !important;
    transition: all 100ms ease-in-out; /* Aggiunta transizione */
}

.btn-form:hover {
    box-shadow: 3px 4px 0 rgb(0, 0, 0); /* Corretto box-shadow */
}
.btn-form-rounded {
    border: none !important;
    border-radius: 30px !important;

    font-family: "Montserrat", sans-serif !important;
    color: white !important;
    font-weight: 600 !important;
    transition: all 100ms ease-in-out; /* Aggiunta transizione */
    background-color: #6159aa !important;
}
.btn-quantity {
    display: flex;
    color: white;
    width: 22px; /* Imposta la larghezza del bottone */
    height: 22px; /* Imposta l'altezza del bottone */
    /* Imposta il colore di sfondo del bottone */
    border: none; /* Rimuove il bordo */
    border-radius: 50%; /* Rende il bottone circolare */
    justify-content: center;
    /* Centra il testo */
    align-items: center; /* Centra verticalmente il testo */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
}
.btn-green {
    background-color: #8cc32f !important;
}
.btn-violet {
    background-color: #6159aa !important;
}
.btn.violet:hover {
    background-color: #6159aa6e !important;
}
.btn-lightViolet {
    background-color: #ceb7ed !important;
}
.btn-lightViolet:hover {
    background-color: #ceb7ed6e !important;
}
.btn-green:hover {
    background-color: #8dc32f6e !important;
}

/* Auth */
/* .authContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 117px);
} */

/* Profile */
.profileContainer {
    display: flex;
    align-items: center;
    height: calc(100vh - 117px);
}
#IconaProfilo {
    max-width: 120px;
}

.profileFooterSvg {
    position: absolute;
    bottom: -37vh;
    left: 0;
    right: 0;
    z-index: -1;
}

/* Restaurants*/
.filterIcon {
    max-width: 60px;
}
.dish-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.dishImageContainer {
    width: 100%;
    height: 240px;
    overflow: hidden;
}
.card {
    border-top-right-radius: 30px !important;
    border-top-left-radius: 30px !important;
}
.card-body {
    min-height: 200px !important;
}
#restaurantImgContainerID img {
    transition: opacity 0.3s ease-in-out;
}
#EditImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #6159aa;
    border-radius: 10px;
    padding-inline: 0.5rem;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.777);
    color: #6159aa;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
}
.dishImgContainerID {
    transition: opacity 0.3s ease-in-out;
}
.EditDishImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #6159aa;
    border-radius: 10px;
    padding-inline: 0.5rem;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.777);
    color: #6159aa;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
}
.ingredientDishContainer {
    max-height: 44px;
    overflow-y: scroll;
}
.ingredientDishContainer::-webkit-scrollbar {
    width: 10px !important; /* larghezza della scrollbar */
    background-color: transparent !important; /* colore di sfondo */
    color: #6159aa !important; /* colore della scrollbar */
}

.ingredientDishContainer::-webkit-scrollbar-thumb {
    background-color: #6159aa !important; /* colore del pulsante della scrollbar */
    border-radius: 10px !important; /* bordi arrotondati */
}

.ingredientDishContainer::-webkit-scrollbar-thumb:hover {
    background-color: #6159aa !important; /* colore del pulsante della scrollbar al passaggio del mouse */
}
.IngredientListToAddContainer {
    max-height: 200px;
    overflow-y: scroll;
}
.IngredientListToAddContainer::-webkit-scrollbar {
    width: 2px !important; /* larghezza della scrollbar */
    background-color: transparent !important; /* colore di sfondo */
    color: #6159aa !important; /* colore della scrollbar */
}

.IngredientListToAddContainer::-webkit-scrollbar-thumb {
    background-color: #6159aa !important; /* colore del pulsante della scrollbar */
    border-radius: 10px !important; /* bordi arrotondati */
}

.IngredientListToAddContainer::-webkit-scrollbar-thumb:hover {
    background-color: #6159aa !important; /* colore del pulsante della scrollbar al passaggio del mouse */
}

.myCheckbox input[type="checkbox"] {
    border: 2px solid #6159aa; /* Adjust thickness as needed */
}

.myCheckbox input[type="checkbox"]:checked {
    background-color: #8cc32f;
}

.myCheckbox input[type="checkbox"]:checked::after {
    display: block;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* SELECTED CATEGORY RESTAURANT */
.selectedCategory {
    border: 2px solid #8cc32f !important;
    border-radius: 50px !important;
    transition: border 0.5s ease-in-out;
    box-shadow: 0 0 0 0.2rem rgba(140, 195, 47, 0.25) !important    ;
}
.restaurantImgContainer {
    max-width: 420px;
    max-height: 200px;
    overflow: hidden;
    border-radius: 35px;
}
.RestaurantImgs {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.RestaurantLink:hover {
    color: #6159aa !important;
    cursor: pointer;
}

.badge-open {
    background-color: #8cc32f !important;
    color: white !important;
    padding: 0.1rem !important;
    border-radius: 30px !important;
    width: 100px !important;
    text-align: center !important;
    font-weight: 600 !important;
}

.badge-closed {
    background-color: red !important;
    color: white !important;
    padding: 0.1rem !important;
    border-radius: 30px !important;
    width: 100px !important;
    text-align: center !important;
    font-weight: 600 !important;
}

/* INPUT RANGE DISTANCE */
/*********** Baseline, reset styles ***********/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 14.5rem;
}

/* Removes default focus */
input[type="range"]:focus {
    outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
    background-color: #6159aa;
    border-radius: 5px;
    height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -4px; /* Centers thumb on the track */
    background-color: #8cc32f;
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
    outline: 3px solid #8cc32f;
    outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
    background-color: #6159aa;
    border-radius: 5px;
    height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
    background-color: #8cc32f;
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
    outline: 3px solid #8cc32f;
    outline-offset: 0.125rem;
}

/* CART */
.cart-container {
    position: fixed;
    right: 0;
    bottom: 0;
    padding-left: 100px;
    padding-right: 20px;
    min-width: 350px;
    min-height: 750px;
    background-color: white;
    box-shadow: #ceb7ed 0px 0px 10px;
    border-top-left-radius: 300px;
    border-bottom-left-radius: 300px;
    transform: translateX(110%);
    transition: transform 500ms ease-in-out;
    z-index: 1000;
}
.cart-container::-webkit-scrollbar {
    width: 10px !important; /* larghezza della scrollbar */
    background-color: transparent !important; /* colore di sfondo */
    color: #6159aa !important; /* colore della scrollbar */
}

.cart-container::-webkit-scrollbar-thumb {
    background-color: #6159aa !important; /* colore del pulsante della scrollbar */
    border-radius: 10px !important; /* bordi arrotondati */
}

.cart-container::-webkit-scrollbar-thumb:hover {
    background-color: #6159aa !important; /* colore del pulsante della scrollbar al passaggio del mouse */
}
.cart-container.show {
    transform: translateX(0%);
}

.orders-container {
    max-height: 130px;

    overflow-y: scroll;
}
.select-address {
    border-radius: 20px !important;
    padding: 0.2rem 0.2rem !important;
    font-family: "Montserrat", sans-serif !important;
    color: #6159aa !important;
    font-weight: 600 !important;
    transition: all 100ms ease-in-out; /* Aggiunta transizione */
    background-color: white !important;
    border: 3px solid #e2e2f6 !important;
}
/* background-color: #e2e2f6 !important; */
/* Transitions Animation */
.item-enter {
    opacity: 0;
    transform: scale(0.9);
}

.item-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 500ms, transform 500ms;
}

.item-exit {
    opacity: 1;
}

.item-exit-active {
    opacity: 0;
    transition: opacity 500ms;
}

/* .slide-enter {
    transform: translateX(100%);
}

.slide-enter-active {
    transform: translateX(0);
    transition: transform 300ms;
}

.slide-exit {
    transform: translateX(0);
}

.slide-exit-active {
    transform: translateX(100%);
    transition: transform 300ms;
} */

.dish-image.dimmed {
    opacity: 0.8;
}

.EditDishImg.visible {
    opacity: 1;
}
